body {
  height: 3000px;
}

.right-sidebar {
  position: fixed;
  background-color: green;
  color: white;
  width: 100px;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  width: 300px;
  background-color: white;
  font-family: Arial;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.modal-content {
  margin-bottom: 12px;
}

.modal-button {
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}