p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.current-price {
  font-size: 32px;
  margin-bottom: 5px;
}

.usd {
  color: rgb(100, 100, 100);
  font-size: 16px;
}

.day-change {
  color: rgb(24, 128, 56);
  margin-bottom: 8px;
}

.after-hours {
  color:rgb(100, 100, 100);
}

.after-change {
  color: rgb(235, 39, 39);
}